@font-face {
  font-family: "Musketeer";
  src: url("./public/fonts/Pixel\ Digivolve.otf") format("opentype");
}

@font-face {
  font-family: "Musketeer-italic";
  src: url("./public/fonts/Pixel\ Digivolve\ Italic.otf") format("opentype");
}

a {
  color: ghostwhite;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
  transition: 300ms;
}

body {
  margin: auto;
  min-height: 100vh;
  font-family: "Musketeer", sans-serif;
  text-align: center;
  background-color: #17191e;
  background-image: url(./public/imgs/sm-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-y: hidden;
  overflow-x: hidden;
}


#main {
  /* border: 2.5px solid red; */

  display: flex;
  width: 100vw;
  height: 100vh;
}

.board,
.about,
.help {
  display: none;
}

.board.active,
.about.active,
.help.active {
  display: block;
}

.game-link,
.about-link,
.help-link {
  cursor: pointer;
}

.game-link:hover,
.about-link:hover,
.help-link:hover {
  color: #ffff00;
  transition: 300ms;
}

.about-play {
  font-family: "Musketeer", sans-serif;
  text-align: center;
}

.board {
  background-color: rgba(0, 0, 0, 0.5);
}

.about {
  height: 512px;
  width: 512px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-text {
  padding: 10%;
  font-size: 0.7em;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}

.slogan {
  font-family: "Musketeer-italic", sans-serif;
  font-size: xx-large;
  color: #ffff00;
}

.musketeer-cartoon {
  height: 50%;
}

.main-left {
  /* border: 2.5px solid red; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
  overflow: hidden;
}

.main-left-top {
  /* border: 2.5px solid red; */

  display: flex;
  justify-content: center;
  height: 60%;
}

.main-left-bottom {
  /* border: 2.5px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: ghostwhite;
  height: 40%;
}

.main-middle {
  /* border: 2.5px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  color: #ffff00;
  width: 40%;
  overflow: hidden;
}

.main-right {
  /* border-right: 2.5px solid red; */

  height: 100%;
  width: 30%;
}